
.header{
    border-radius: 10px;
    border:5px solid rgb(180, 158, 158);
  padding: 30px;
  text-align: center;
  font-size: 70px;
  color: black;
  margin-left:60px;
  margin-right:60px;
  margin-top: 60px;
 background-color: #8f8080;

}
.navbar nav {
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    background-color:rgb(213, 118, 118);
  }
  
  .navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color:black;
  }
  .container .text{
    border: 3px solid #fff;
    float: left;
    color:#fff;
    width:200px;
    margin-right:70px;
  }
  .container{
    background-color: black;    
    /* background-repeat: no-repeat; */
    border-radius: 30px;
    border: 4px solid black;
     /* padding: 100px;  */

    height: 500px;
    margin-top: 50px;
    
    background-size:cover;
  }
 .container img{
    border: 3px dashed #fff;
    float: right;
    width:500px;
    height:400px;
    
 }